<div class="formatting-header">
    <div class="s-header__block ">
        <div class="s-header__branding ">
            <p class="site-title">
                <a (click)="onRouterChange('/')" rel="home">Marie-Sophie</a>
            </p>
        </div>

        <!-- Toggle menu -->
        <!-- .menu-is-open .s-header__nav-wrap -->

        <a class="s-header__menu-toggle" [ngClass]="{'menu-is-open': !isMenuVisible, 'is-clicked': isMenuVisible}"
            (click)="toggleMenu()">
            <span>Menu</span>
        </a>
    </div>

    <!-- Menu to different pages -->
    <div class="row s-header__nav-wrap center">
        <nav class="s-header__nav">
            <ul>
                <li><a (click)="onRouterChange('/intro')" class="smoothscroll">{{ 'header.intro' | translate }}</a></li>
                <li><a (click)="onRouterChange('/about')" class="smoothscroll">{{ 'header.about' | translate }}</a></li>
                <li><a (click)="onRouterChange('/works')" class="smoothscroll">{{ 'header.works' | translate }}</a></li>
                <li><a (click)="onRouterChange('/contact')" class="smoothscroll">{{ 'header.contact' | translate }}</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Icons with urls TODO cv -->
    <div>
        <ul class="s-header__social">

            <li class="language-toggle">

                <select (change)="onLanguageChange($event)" class="btn btn--stroke language-toggle">
                    <option *ngFor="let l of languages" [value]="l" [selected]="l === currentLanguage">
                        {{ l }}
                    </option>
                </select>

            </li>

            <li>
                <a href="https://www.linkedin.com/in/marie-sophie-verwee/" target="_blank">
                    <!-- <a href="#0" class="btn btn--stroke u-fullwidth">CV</a> -->
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
                        <path
                            d="M30.13 51.31h20a1.75 1.75 0 0 0 1.75-1.75v-5.12a11.067 11.067 0 0 0-4.4-8.832 9.977 9.977 0 1 0-14.713 0 11.08 11.08 0 0 0-4.387 8.832v5.12a1.75 1.75 0 0 0 1.75 1.75zm10-28.894a6.477 6.477 0 1 1-6.477 6.477 6.485 6.485 0 0 1 6.473-6.476zM31.88 44.44a7.576 7.576 0 0 1 3.87-6.594 9.857 9.857 0 0 0 8.754 0 7.56 7.56 0 0 1 3.876 6.594v3.37h-16.5z" />
                        <path
                            d="M112.654 4.75H15.346A1.75 1.75 0 0 0 13.6 6.5v115a1.75 1.75 0 0 0 1.75 1.75h97.308a1.75 1.75 0 0 0 1.75-1.75V6.5a1.75 1.75 0 0 0-1.754-1.75zm-1.75 115H17.1V8.25h93.8z" />
                        <path
                            d="M26.346 65.75h75.308a1.75 1.75 0 1 0 0-3.5H26.346a1.75 1.75 0 0 0 0 3.5zM26.346 80.194h75.308a1.75 1.75 0 0 0 0-3.5H26.346a1.75 1.75 0 0 0 0 3.5zM26.346 109.083h75.308a1.75 1.75 0 0 0 0-3.5H26.346a1.75 1.75 0 0 0 0 3.5zM26.346 94.639h75.308a1.75 1.75 0 1 0 0-3.5H26.346a1.75 1.75 0 0 0 0 3.5zM64 22.417h37.654a1.75 1.75 0 0 0 0-3.5H64a1.75 1.75 0 0 0 0 3.5zM64 36.861h37.654a1.75 1.75 0 0 0 0-3.5H64a1.75 1.75 0 0 0 0 3.5zM64 51.306h37.654a1.75 1.75 0 0 0 0-3.5H64a1.75 1.75 0 0 0 0 3.5z" />
                    </svg>
                    <span class="u-screen-reader-text">Resume</span>
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/marie-sophie-verwee/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" />
                    </svg>
                    <span class="u-screen-reader-text">LinkedIn</span>
                </a>
            </li>

        </ul>
    </div>

</div>


<div *ngIf="isMenuVisible" class="menu-is-open-dropdown menu-is-open">
    <!-- Your menu content goes here -->

    <nav class="s-header__nav">
        <ul>
            <li><a (click)="onRouterChange('/intro')" class="smoothscroll">{{ 'header.intro' | translate }}</a></li>
            <li><a (click)="onRouterChange('/about')" class="smoothscroll">{{ 'header.about' | translate }}</a></li>
            <li><a (click)="onRouterChange('/works')" class="smoothscroll">{{ 'header.works' | translate }}</a></li>
            <li><a (click)="onRouterChange('/contact')" class="smoothscroll">{{ 'header.contact' | translate }}</a></li>
        </ul>
    </nav>
    <ul class="s-header__social">
        <li class="language-toggle">

            <select (change)="onLanguageChange($event)" class="btn btn--stroke language-toggle">
                <option *ngFor="let l of languages" [value]="l" [selected]="l === currentLanguage">
                    {{ l }}
                </option>
            </select>

        </li>

        <li>
            <a href="https://www.linkedin.com/in/marie-sophie-verwee/" target="_blank">
                <!-- <a href="#0" class="btn btn--stroke u-fullwidth">CV</a> -->
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
                    <path
                        d="M30.13 51.31h20a1.75 1.75 0 0 0 1.75-1.75v-5.12a11.067 11.067 0 0 0-4.4-8.832 9.977 9.977 0 1 0-14.713 0 11.08 11.08 0 0 0-4.387 8.832v5.12a1.75 1.75 0 0 0 1.75 1.75zm10-28.894a6.477 6.477 0 1 1-6.477 6.477 6.485 6.485 0 0 1 6.473-6.476zM31.88 44.44a7.576 7.576 0 0 1 3.87-6.594 9.857 9.857 0 0 0 8.754 0 7.56 7.56 0 0 1 3.876 6.594v3.37h-16.5z" />
                    <path
                        d="M112.654 4.75H15.346A1.75 1.75 0 0 0 13.6 6.5v115a1.75 1.75 0 0 0 1.75 1.75h97.308a1.75 1.75 0 0 0 1.75-1.75V6.5a1.75 1.75 0 0 0-1.754-1.75zm-1.75 115H17.1V8.25h93.8z" />
                    <path
                        d="M26.346 65.75h75.308a1.75 1.75 0 1 0 0-3.5H26.346a1.75 1.75 0 0 0 0 3.5zM26.346 80.194h75.308a1.75 1.75 0 0 0 0-3.5H26.346a1.75 1.75 0 0 0 0 3.5zM26.346 109.083h75.308a1.75 1.75 0 0 0 0-3.5H26.346a1.75 1.75 0 0 0 0 3.5zM26.346 94.639h75.308a1.75 1.75 0 1 0 0-3.5H26.346a1.75 1.75 0 0 0 0 3.5zM64 22.417h37.654a1.75 1.75 0 0 0 0-3.5H64a1.75 1.75 0 0 0 0 3.5zM64 36.861h37.654a1.75 1.75 0 0 0 0-3.5H64a1.75 1.75 0 0 0 0 3.5zM64 51.306h37.654a1.75 1.75 0 0 0 0-3.5H64a1.75 1.75 0 0 0 0 3.5z" />
                </svg>
                <span class="u-screen-reader-text">Resume</span>
            </a>
        </li>

        <li>
            <a href="https://www.linkedin.com/in/marie-sophie-verwee/" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path
                        d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" />
                </svg>
                <span class="u-screen-reader-text">LinkedIn</span>
            </a>
        </li>

    </ul>

</div>