<section class="about">
    <div class="s-about__block s-about__intro">
        <div class="row">
            <div class="column lg-12">
                <h2 class="text-pretitle animate-on-load">{{ 'about.about-me' | translate }}</h2>
                <p  class="attention-getter animate-on-load">
                {{ 'about.hobbies' | translate}}
                </p>
            </div>
        </div>
    </div>
</section>

<section id="works" class="s-works">
    <div class="row grid-container">
        <h4 class="folio-item__title">{{ 'about.running' | translate }}</h4>
    </div>
    <div class="row grid-container block-lg-one-half block-stack-on-550" >
        <div class="grid-item" >
            <div class=" folio-item">
                <div class="grid-image folio-item__thumb">
                    <a class="folio-item__thumb-link" href="../../assets/images/about/running-ms.jpg" Title="Running" data-size="1050x700">
                        <img src="../../assets/images/about/running-ms.jpg" alt="Picture of Marie-Sophie running">
                    </a>
                </div>
            </div>
        </div> 
       
        <div class="grid-item" >
            <div class="folio-item">
                <p>{{ 'about.running-text' | translate }}</p>
            </div>
        </div>

        <div class="grid-item" >
            <div class="folio-item">
                <div class="folio-item__thumb">
                    <a class="folio-item__thumb-link" href="../../assets/images/about/grt.jpg" Title="Running" data-size="1050x700">
                        <img src="../../assets/images/about/grt.jpg" alt="Picture of Marie-Sophie running">
                    </a>
                </div>
            </div>
        </div>
    </div> 

    <div class="row grid-container">
        <h4 class="folio-item__title">{{ 'about.baking' | translate }}</h4>
    </div>
    <div class="row grid-container block-lg-one-half block-stack-on-550" >
        <div class="grid-item" >
            <div class=" folio-item">
                <div class="grid-image folio-item__thumb">
                    <a class="folio-item__thumb-link" href="../../assets/images/about/baking-1.jpg" Title="Baking" data-size="1050x700">
                        <img src="../../assets/images/about/baking-1.jpg" alt="Picture of Marie-Sophie running">
                    </a>
                </div>
            </div>
        </div> <!-- end column -->
       
       
        <div class="grid-item grid-small" >
            <div class="grid-item folio-item">
                <div class="folio-item__thumb">
                    <a class="folio-item__thumb-link" href="../../assets/images/about/baking-2.jpg" Title="Running" data-size="1050x350">
                        <img class="grid-small-img" src="../../assets/images/about/baking-2.jpg" alt="Picture of Marie-Sophie running">
                    </a>
                </div>
            </div>

            <div class="grid-item folio-item">
                <div class="folio-item__thumb">
                    <a class="folio-item__thumb-link" href="../../assets/images/about/baking-3.jpg" Title="Running" data-size="1050x350">
                        <img class="grid-small-img" src="../../assets/images/about/baking-3.jpg" alt="Picture of Marie-Sophie running">
                    </a>
                </div>
                
            </div>
        </div>

        <div class="grid-item" >
            <div class="folio-item">
                <p>{{ 'about.baking-text' | translate }}</p>
            </div>
        </div>

       
    </div> 

    <div class="row  grid-container">
        <div class="grid-item " >
            <h4 class="folio-item__title">{{ 'about.travelling' | translate }}</h4>
        </div>

    </div>
    <div class="row grid-horizontal block-lg-one-half block-stack-on-550" >
        
        <div class="grid-item" >
            <div class=" folio-item">

                <div class="grid-image folio-item__thumb">
                    <a class="folio-item__thumb-link" href="../../assets/images/about/travelling-1.jpg" Title="Running" data-size="1050x700">
                        <img class="img-horizontal " src="../../assets/images/about/travelling-1.1.jpg" alt="Picture of Marie-Sophie running">
                    </a>
                </div>
                
            </div>
        </div> <!-- end column -->
       
       
        <div class="grid-item" >
            <div class="folio-item">

                <div class="folio-item__thumb">
                    <a class="folio-item__thumb-link" href="../../assets/images/about/travelling-2.jpg" Title="Running" data-size="1050x700">
                        <img class="img-horizontal " src="../../assets/images/about/travelling-2.jpg" alt="Picture of Marie-Sophie running">
                    </a>
                </div>
                
            </div>
        </div>

        <div class="grid-item full-width" >
            <div class="folio-item">
                <p>{{ 'about.travelling-text' | translate }}</p>
            </div>
        </div>
    </div> 
</section> 
