<section class="about">
<!-- class="s-about personal-about"> -->


    <div class="s-about__block s-about__intro">

        <div class="row">
            <div class="column lg-12">
                <h2 class="text-pretitle animate-on-load">{{ 'about.about-me' | translate }}</h2>
                <p  class="attention-getter animate-on-load">
                {{ 'about.full-text' | translate}}
                </p>
            </div>
        </div>

    </div>
</section>

<section id="works" class="s-works">

    <div class="row">
        <div class="column lg-12">
            <h2 class="text-pretitle">{{ 'about.hobbies' | translate }}</h2>

            <!-- <p class="text-huge-title">
            Selected Projects I Have Worked On.
            </p> -->
        </div>
    </div>

    <div class="row folio-list block-lg-one-half block-stack-on-550" >

        <div class="column" >
            <div class="folio-item">
                <div class="folio-item__info">
                    <h4 class="folio-item__title">Running</h4>
                </div>
                <div class="folio-item__thumb">
                    <a class="folio-item__thumb-link" href="../../assets/images/about/running-ms.jpg" Title="Running" data-size="1050x700">
                        <img src="../../assets/images/about/running-ms.jpg" alt="Picture of Marie-Sophie running">
                    </a>
                </div>
                
            </div>
        </div> <!-- end column -->
       
        <!-- <div class="column" data-animate-el>
            <div class="folio-item">
                <div class="folio-item__thumb">
                    <a class="folio-item__thumb-link" href="images/portfolio/gallery/g-grayscale.jpg" title="Grayscale" data-size="1050x700">
                        <img src="images/portfolio/minimalismo.jpg" 
                             srcset="images/portfolio/grayscale.jpg 1x, images/portfolio/grayscale@2x.jpg 2x" alt="">
                    </a>
                </div>
                <div class="folio-item__info">
                    <div class="folio-item__meta">
                        <span class="cat">UI Design</span>
                        <a href="https://www.behance.net/" title="Project Link" class="project-link">Project Link</a>
                    </div>
                    <h4 class="folio-item__title">Grayscale</h4>
                </div>
                <div class="folio-item__caption">
                    <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                </div>
            </div>
        </div>  -->
        <!-- end column -->
        <!-- <div class="column" data-animate-el>
            <div class="folio-item">
                <div class="folio-item__thumb">
                    <a class="folio-item__thumb-link" href="images/portfolio/gallery/g-lamp.jpg" title="The Lamp" data-size="1050x700">
                        <img src="images/portfolio/lamp.jpg" 
                             srcset="images/portfolio/lamp.jpg 1x, images/portfolio/lamp@2x.jpg 2x" alt="">
                    </a>
                </div>
                <div class="folio-item__info">
                    <div class="folio-item__meta">
                        <span class="cat">Branding</span>
                        <a href="https://www.behance.net/" title="Project Link" class="project-link">Project Link</a>
                    </div>
                    <h4 class="folio-item__title">The Lamp</h4>
                </div>
                <div class="folio-item__caption">
                    <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                </div>
            </div>
        </div>  -->
        <!-- end column -->
        <!-- <div class="column" data-animate-el>
            <div class="folio-item">
                <div class="folio-item__thumb">
                    <a class="folio-item__thumb-link" href="images/portfolio/gallery/g-tulips.jpg" title="Caffein & Tulips" data-size="1050x700">
                        <img src="images/portfolio/tulips.jpg" 
                             srcset="images/portfolio/tulips.jpg 1x, images/portfolio/tulips@2x.jpg 2x" alt="">
                    </a>
                </div>
                <div class="folio-item__info">
                    <div class="folio-item__meta">
                        <span class="cat">Web Design</span>
                        <a href="https://www.behance.net/" title="Project Link" class="project-link">Project Link</a>
                    </div>
                    <h4 class="folio-item__title">
                        Caffein & Tulips
                    </h4>
                </div>
                <div class="folio-item__caption">
                    <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                </div>
            </div>
        </div>  -->
        <!-- end column -->
        <!-- <div class="column" data-animate-el>
            <div class="folio-item">
                <div class="folio-item__thumb">
                    <a class="folio-item__thumb-link" href="images/portfolio/gallery/g-tropical.jpg" title="Tropical" data-size="1050x700">
                        <img src="images/portfolio/rucksack.jpg" 
                             srcset="images/portfolio/tropical.jpg 1x, images/portfolio/tropical@2x.jpg 2x" alt="">
                    </a>
                </div>
                <div class="folio-item__info">
                    <div class="folio-item__meta">
                        <span class="cat">Product Design</span>
                        <a href="https://www.behance.net/" title="Project Link" class="project-link">Project Link</a>
                    </div>
                    <h4 class="folio-item__title">Tropical</h4>
                </div>
                <div class="folio-item__caption">
                    <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                </div>
            </div>
        </div>  -->
        <!-- end column -->
        <!-- <div class="column" data-animate-el>
            <div class="folio-item">
                <div class="folio-item__thumb">
                    <a class="folio-item__thumb-link" href="images/portfolio/gallery/g-woodcraft.jpg" title="Woodcraft" data-size="1050x700">
                        <img src="images/portfolio/woodcraft.jpg" 
                             srcset="images/portfolio/woodcraft.jpg 1x, images/portfolio/woodcraft@2x.jpg 2x" alt="">
                    </a>
                </div>
                <div class="folio-item__info">
                    <div class="folio-item__meta">
                        <span class="cat">Branding</span>
                        <a href="https://www.behance.net/" title="Project Link" class="project-link">Project Link</a>
                    </div>
                    <h4 class="folio-item__title">Woodcraft</h4>
                </div>
                <div class="folio-item__caption">
                    <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                </div>
            </div>
        </div> end column -->

    </div> <!-- folio-list -->

</section> 
