        <footer id="colophon" class="s-footer">

            <div class="row s-footer__contact-header">
                <div class="column lg-12">
                    <h2 class="text-pretitle">Get In Touch</h2>

                    <p class="text-huge-title">
                        Feel free to reach out if you wanna collaborate with me, or simply have a chat.
                    </p>
                </div>
            </div> <!-- end s-footer__content -->

            <div class="row s-footer__contact-content">

                <div class="column lg-5 md-6 stack-on-900 left-block">
                    <p>
                    Dolorum est et corporis. Unde nobis quo rerum aspernatur cum dolorem 
                    tempore et. Beatae atque nobis qui nam nulla nihil sunt quis. Earum 
                    minima cum consectetur ab repudiandae sed esse dolores.
                    </p>

                    <div class="s-footer__buttons">
                        <a href="mailto:sayhello@augustine.com" class="btn btn--primary u-fullwidth">Say Hello</a>
                        <a href="#0" class="btn btn--stroke u-fullwidth">CV</a>
                    </div>

                </div>  

                <div class="column lg-4 md-5 stack-on-900 right-block">

                    <div class="s-footer__contact-info" >
                        <h2 class="text-subtitle">
                            Start A Project
                        </h2>
                        <ul class="link-list">
                            <li><a href="mailto:sayhello@augustine.com">sayhelloaugustine.com</a></li>
                            <li><a href="tel:+1975432345">+197 543 2345</a></li>
                        </ul>
                    </div>

                    <div class="s-footer__social">
                        <h2 class="text-subtitle">
                            Connect
                        </h2>
                        <ul class="link-list">
                            <li><a href="#0">Facebook</a></li>
                            <li><a href="#0">Twitter</a></li>
                            <li><a href="#0">Github</a></li>
                            <li><a href="#0">Dribbble</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div> <!-- end s-footer__contact-content -->

            <div class="row s-footer__bottom">
                <div class="column ss-copyright">
                    <span>© Copyright Augustine 2022</span> 
                    <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
                </div>

                <div class="ss-go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M6 4h12v2H6zm5 10v6h2v-6h5l-6-6-6 6z"></path></svg>
                    </a>
                </div>
            </div> <!-- end s-footer__bottom-->

        </footer>  