<section id="intro" class="format-blocks" > 
<!-- </section>class="s-intro"> -->

    <div class="row">
        <div class="column lg-12 s-intro__content">

            <div class="s-intro__text">
                <h1 class="s-intro__text-huge animate-on-load">
                    {{ 'app.name' | translate }}
                </h1>
                <h3 class="animate-on-load">{{ 'app.job' | translate }}</h3>
            </div>

            <div class="s-intro__bg ms_margin"></div>

        </div>
    </div>

    <!-- ABOUT -->
    <div class="padding s-about__block s-about__intro">

        <div class="row">
            <div class="column lg-12">
                <h2 class="text-pretitle animate-on-load">{{ 'about.about-me' | translate }}</h2>
                <p  class="attention-getter animate-on-load">
                {{ 'about.full-text' | translate}}
                </p>
            </div>
        </div>
        <div class="row right" (click)="changePage()">
            <p class="text-svg-combo pointer">More info</p>
            <svg class="pointer" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M5 12H19M19 12L13 6M19 12L13 18" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </div>
    </div>

    <!-- EXPERIENCE -->

    <!-- EDUCATION -->

    <!-- SKILLS -->
    <!-- CONTACT -->
    <contact></contact>

</section> 

